*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: bisque;
}

.main{
  background-image: url('/img/table.jpg');
  background-size: cover;
  height: 100vh;
  max-height: 100%;
  margin: 0 auto;
}

.top{
  display: grid;
  
}