* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d3573;
  color: white;
  font-size: 40px;
}

img {
  width: 100%;
}

.main {
  background-image: url('/img/tabl.jpg');
  background-size: cover;
  height: 100vh;
  max-height: 100%;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top,
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 159px;
}
.bottom {
  justify-content: space-around;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_score {
  color: red;
  background-color: skyblue;
  width: 80px;
  height: 80px;
  text-align: center;
}

.right_score {
  color: blue;
  background-color: skyblue;
  width: 80px;
  height: 80px;
}

.ball {
  max-width: 80px;
  height: auto;
  visibility: hidden;
  margin: 0 auto;
}
.ball img {
  display: block;
  text-align: center;
}

button {
  background-color: antiquewhite;
  width: 80px;
  height: 80px;
  font-size: 40px;
}

#reset{
  font-size: 15px;
}
#rBall{
  padding-right: 10px;
}
#lBall{
  padding-left: 10px;
}

.visible{
  visibility: visible;
}
.novisible{
  visibility: hidden;
}